<div class="country-container">

    <h2 class="country-title">{{name}}</h2>

    <div class="country-img">
        <img src="{{flag}}" alt="{{name}}">
    </div>

    <p class="country-text">Capital: {{capital}}</p>

    <p class="country-text">Population: {{population}}</p>

    <ul class="country-list">Languages:
        {{#each languages}}
        <li>{{languages.name}}</li>
        {{/each}}
    </ul>

</div>