{{#each this}}
<div class="country-container">

    <h2 class="country-title">{{name}}</h2>

    <div class="country-img">
        <img src="{{flag}}" alt="{{name}}">
    </div>

    <p class="country-text">Capital: {{capital}}</p>

    <p class="country-text">Population: {{population}}</p>

    <p class="country-text">Languages: </p>

    <ul class="country-list">
        {{#each languages}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

</div>
{{/each}}